{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <h2 class="">Liste des features</h2>

        <div id="features" class="my-5">
            <div class="d-flex justify-content-center my-5">
                <div class="spinner-border text-secondary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript_footer %}

    <script type="text/javascript" src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    {{ encore_entry_script_tags('omines-datatable') }}

    <script>
        $(function() {
            $('#features').initDataTables({{ datatable_settings(datatable) }});
        });
    </script>
{% endblock %}