<header>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h1>Test & Show</h1>
            </div>
            <div class="col-6">

            </div>
            <div class="col-3 text-right">
                {% if is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
                    <a class="" href="{{ path('app_security_login') }}">Login</a>
                {% else %}
                    <p>{{ app.user.email }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</header>
