{% extends 'base.html.twig' %}

{% block css %}
    {{ parent() }}
    {{ encore_entry_link_tags('test-css') }}
{% endblock %}

{% block body %}
    <div class="container">
    <h2 class="">Zone de test frontend</h2>
    <div class="row row-cols-3">
        <div>
            <button class="btn-test">
                Vois comme je grandis !
            </button>
        </div>

        <div>
            <button class="btn-ball">
                C'est partiii!
            </button>
            <div class="ball"></div>
        </div>

        <div class="x">
            <div class="or skew1"></div>
            <div class="or skew2"></div>
        </div>
    </div>

    <div>
        <canvas id="myCanvas" width="480" height="320"></canvas>
    </div>


{% endblock %}
{% block javascript_footer %}
{#    {{ encore_entry_script_tags('cassebrique') }}#}
{% endblock %}