/*------------------------------------*\
    COLORS
\*------------------------------------*/

/* Global */

$white: #ffffff;
$black: #000000;

$grey_e: #eeeeee;
$grey_d: #dddddd;
$grey_c: #cccccc;
$grey_b: #bbbbbb;
$grey_a: #aaaaaa;
$grey_9: #999999;
$grey_6: #666666;
$grey_4: #444444;

$text_dark: #333333;
$bg_dark: #333333;
$text_light: #777777;
$bg_light: #f7f7f7;


$red: #FF3246;
$blue: #00243C;
$cyan: #78c1d8;
$green: #5EC278;
$blue: #46699D;
$brown: #4C3B4D;
$purple: #a549db;
$yellow: #FFA500;

/* Footer */

$footer_bg: #1d1d1d;
$footer_text: #aaaaaa;

/* Social */

$linkedin_blue: #0077b5;
$skype_blue:#00AFF0;

/* Status */

$default: $grey_9;
$valid: #2b9e31;
$error: #d12323;
$warning: #e8b12d;
$info: #0ba0d1;